#intro {
}

#overview {
    margin-bottom: 30px;
    overflow: hidden;
}

#overview ul {
    padding-left: 30px;
    padding-bottom: 30px;
    width: 490px;
    margin-bottom: -4px;
    border-bottom: 1px solid #96693F;
}

#overview li {
    list-style: disc;
    margin-top: 5px;
}

#ring {
    float: right;
    width: 300px;
    height: 215px;
    margin-right: 30px;
    margin-top: 50px;
    border: 1px solid #96693F;
    border-radius: 2px;
}

#button {
    margin-bottom: -20px;
    margin-left: 10px;
    border: 0;
}

#buy:hover {
    position: relative;
    right: 1.2px;
    bottom: 1.2px;
}

#buy:active {
    position: relative;
    right: 0px;
    bottom: 0px;
}
